<html><meta content='width=device-width, initial-scale=1' name='viewport'/>
<head><link rel="stylesheet" href="/static/styles.css"></head>
<body>
<nav>
	<a href="/">Home</a>
	<a href="/timers">Timers</a>
	<a href="/sensors">Sensors</a>
	<a href="/about">About</a>
	<div class="animation start-about"></div>
</nav>
<table>
<tr><td>riban heating controller</td></tr>
<tr><td>riban 2020</td></tr>
<tr><td>Brian Walton (brian@riban.co.uk)</td></tr>
<tr><td>https://github.com/riban-bw/piPyHeating</td></tr>
<tr><td>Version: {{version}}</td></tr>
</table>
</body></html>