<html>
	<meta content='width=device-width, initial-scale=1' name='viewport'/>
	<head><link rel="stylesheet" href="static/styles.css">
	<script>
    var ws = new WebSocket("ws://rpi4.4sar:8000/websocket");
		ws.onmessage = function(evt) {
			var messageDict = JSON.parse(evt.data);
			document.getElementById("CurrentTemp").innerHTML = "Current: "+messageDict.temproom+"&deg;";
			if(messageDict.state) {
				document.getElementById("On").setAttribute("class", "On");
				document.getElementById("Off").setAttribute("class", "Off");
			} else {
				document.getElementById("On").setAttribute("class", "Off");
				document.getElementById("Off").setAttribute("class", "On");
			}
			document.getElementById("setpoint").innerHTML = "Requested: "+messageDict.setpointroom+"&deg;";
		};
	</script>
	</head>
	<body>
<nav>
	<a href="/">Home</a>
	<a href="/timers">Timers</a>
	<a href="/sensors">Sensors</a>
	<a href="/about">About</a>
	<div class="animation start-home"></div>
</nav>
		<div class="parent">
			<div class="row"><div id="CurrentTemp" class = "value">Current: {{ format(round(float(sensors["room"]["value"]),2)) }}&deg;</div></div>
			<div class="row"><div id="On" class="{{state}}"; onclick="location.href='?action=on'";>ON</div></div>
			<div class="row"><div id="Off" class={% if state == 'On' %}"Off"{% else %}"On"{% end %}; onclick="location.href='?action=off'";>OFF</div></div>
			<div class="row"><div id="setpoint" class = "value">Requested: {{format(round(float(sensors["room"]["setpoint"]),2))}}&deg;</div></div>
			<div class="row"><div class="On"; onclick="location.href='?action=up'";>UP</div></div>
			<div class="row"><div class="On"; onclick="location.href='?action=down'";>DOWN</div></div>
		</div>
	</body>
</html>
